body{
	margin:0;
	padding:0;
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
	background:#301934;
	font-family:'Poppins',sans-serif;
}
.D{
	position:relative;
	width:400px;
	height:500px;
	dispaly:flex;
	justify-content:center;
	align-items:center;
	background:#301934;
}
nav{
	display:flex;
	width:84%;
	margin:0;
	padding:0 0;
	align-items:left;
	justify-content:space-between;
}
.logo{
	height:100px;
	width:150px;
	top:0;
}
button{
	position:absolute;
	transform:translate(-50%,-50%);
	text-align:right;
	top:16%;
	right:37%;
	font-size:20px;
	font-weight:bold;
	padding:5px 10px;
	background:gold;
	border-radius:50px;
	border-color:gold;
}	
h1{
	text-shadow:1.5px 1.5px lightblue;
	text-align:center;
}
p{
	text-shadow:1.5px 1.5px black;
	text-align:center;
}
.D:before{
	content:'';
	position:absolute;
	top:-2px;
	left:-2px;
	right:-2px;
	bottom:-2px;
	background:#fff;
	z-index:-1;
}
.D:after{
	content:'';
	position:absolute;
	top:-2px;
	left:-2px;
	right:-2px;
	bottom:-2px;
	background:#fff;
	z-index:-2;
	filter:blur(40px);
	
}
.D:before,
.D:after{
	background:linear-gradient(235deg,#89ff00,#060c21,#00bcd4);
}
.content{
	padding:20px;
	box-sizing:border-box;
	color:#fff;
	font-size:20px;
}
	
